body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center;
    background-color: #eeeded;
}

th {
    background-color: rgb(199, 199, 248);
    text-transform: uppercase;
}

table {
    width: 900px;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #cbcaca;
    padding: 10px;
    margin: 0;
}

#tr2 {
    background-color: rgba(202, 202, 248, 0.993);
}