body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

table {
    width: 60%;
    border-collapse: collapse;
}

th,td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: rgb(199, 199, 248);
}

#tr2 {
    background-color: rgba(202, 202, 248, 0.993);
}